{% extends 'base.html' %}

{% block title%}Login Page{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">

	<button class="btn" onclick="showOnly('my-account')">My Account</button>
	<button class="btn" onclick="showOnly('my-cars')">My Cars</button>
	<button class="btn" onclick="showOnly('my-rented-cars')">Rented Cars</button>

	<!-- First Section -->
	<div id="my-account">
		<h1>User Account</h1>

		<p>Username: {{ user_details.username }}</p>
		<p>Email: {{ user_details.email }} <button class="btn btn-primary" data-toggle="modal" data-target="#emailModal">Change Email</button></p><br>

		<h1>User Details</h1>

		<p>NRIC: {{ user_details.userdetails.nric }}</p>
		<p>Birthdate: {{ user_details.userdetails.dob }}</p>
		<p>Contact: {{ user_details.userdetails.contact }}</p>
		<p>License Issue Date: {{ user_details.userdetails.license_issue_date }}</p>
		<p>Address: {{ user_details.userdetails.address }} <button class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">Change User Details</button></p><br>
	</div>

	<!-- Second Section -->
	<div id="my-cars" style="display:none">
		<h1>My Cars</h1>
		{% if error_owned %}
			<span style="color:red">{{ error_owned }}</span><br>
		{% endif %}
		<button class="btn btn-primary" onclick="toggleAddCarForm()">Add A Car!</button>
		<div id="add_car_form" style="display:none">
			<br>
			<form action="" method="post">
				{{ car_form.as_p }}
				{{ form.as_p }}
				{% csrf_token %}
				<input type="submit" value="Add My Car!">
				<input type="hidden" name="next" value="/accounts/user" />
			</form>
		</div>

		<hr>
		<table width="100%">
		{% for car_instance in car_instances %}
		<tr>
			<td>Make/Model: {{ car_instance.car.make_model }}<br>
				Max Passengers: {{ car_instance.car.max_passengers }}<br>
    			Transmission: {{ car_instance.car.get_transmission_display }}<br>
    			Type: {{ car_instance.car.get_type_display }}<br>
    			Colour: {{ car_instance.colour }}<br>
    		</td>
			<td>
				Owner: <a href="/accounts/user/{{ car_instance.owner }}">{{ car_instance.owner }}</a><br>
    			Carplate No.: {{ car_instance.carplate }}<br>
    			Year: {{ car_instance.year }}<br>
    			Can Drive to MY: {{ car_instance.candrivemy }}<br>
    		</td>
			<td>
    			Price: ${{ car_instance.price }}/month<br>
    			<a href="/car/delete/?id={{ car_instance.carplate }}"><button class="btn btn-danger">Remove</button></a>
			</td>
			</tr>
			<tr><td colspan="3"><hr></td></tr>
		{% endfor %}
		</table>
	</div>


	<!-- Third Section -->
	<div id="my-rented-cars" style="display:none">
		<h1>My Rented Cars</h1>
		{% if error_rented %}
			<span style="color:red">{{ error_rented }}</span><br>
		{% endif %}
		<hr>
		<table width="100%">
		{% for booking in bookings %}
		<tr>
			<td>Make/Model: {{ booking.car_instance.car.make_model }}<br>
				Max Passengers: {{ booking.car_instance.car.max_passengers }}<br>
    			Transmission: {{ booking.car_instance.car.get_transmission_display }}<br>
    			Type: {{ booking.car_instance.car.get_type_display }}<br>
    			Colour: {{ booking.car_instance.colour }}<br>
    		</td>
			<td>
				Owner: <a href="/accounts/user/{{ booking.car_instance.owner }}">{{ booking.car_instance.owner }}</a><br>
    			Carplate No.: {{ booking.car_instance.carplate }}<br>
    			Year: {{ booking.car_instance.year }}<br>
    			Can Drive to MY: {{ booking.car_instance.candrivemy }}<br>
    		</td>
			<td>
    			Price: ${{ booking.car_instance.price }}/month<br>
    			Start Date: {{ booking.start }}<br>
    			End Date: {{ booking.end }}<br>
    			<button class="btn btn-primary" data-toggle="modal" data-target="#bookingModModal" onclick="change_uuid_hidden('{{ booking.uuid }}');">Modify</button>
    			<a href="/booking/delete/?uuid={{ booking.uuid }}"><button class="btn btn-danger">Cancel</button></a>
			</td>
			</tr>
			<tr><td colspan="3"><hr></td></tr>
		{% endfor %}
		</table>
	</div>


	<!-- Change Email Modal -->
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Change User Email</h4>
	      </div>
	      <div class="modal-body">
	        <p>Enter your new Email!</p>
	        <form action="/accounts/modify/" method="get">
					<input type="email" name="email" class="form-control" placeholder="Enter your new Email Here" id="email"><br>
					{% csrf_token %}
					<button type="submit" class="btn" value="modify">Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
	      </div>
	    </div>
	  </div>
	</div>
	

	<!-- Change Details Modal -->
	<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Change User Details</h4>
	      </div>
	      <div class="modal-body">
	        <p>Fill in the fields you would like to modify and leave the rest blank!</p>
	        <form action="/accounts/modify/" method="get">
					<input type="text" name="contact" class="form-control" placeholder="Enter your new Contact Number Here" id="contact"><br>
					<input type="text" name="address" class="form-control" placeholder="Enter your new Address Here" id="address"><br>
					{% csrf_token %}
					<button type="submit" class="btn" value="modify">Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="modal fade" id="bookingModModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Change User Details</h4>
	      </div>
	      <div class="modal-body">
	        <p>What dates would you like to modify your booking to?</p>
	        <form action="/booking/modify/" method="get">
			        <div>From: <input id="dateStart" type="text" name="dateStart"> To: <input id="dateEnd" type="text" name="dateEnd"></div><br>
					<input type="hidden" name="uuid_hidden" class="form-control" id="uuid_hidden" value="123">
					{% csrf_token %}
					<button type="submit" class="btn" value="modify">Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>

<script>
	function showOnly(id) {
		document.getElementById('my-account').style.display = "none";
		document.getElementById('my-cars').style.display = "none";
		document.getElementById('my-rented-cars').style.display = "none";
		document.getElementById(id).style.display = "block";
	}

	function toggleAddCarForm() {
		var addCarForm = document.getElementById('add_car_form');
		var visibility = addCarForm.style.display;
		if (visibility === 'none') {
			addCarForm.style.display = 'block';
		} else {
			addCarForm.style.display = 'none';
		}
	}

	function change_uuid_hidden(uuid) {
		document.getElementById("uuid_hidden").value = uuid;
	}
	showOnly('{{ show }}');


	jQuery('#dateStart').datetimepicker({
		format:'Y/m/d',
		onShow:function( ct ){
			this.setOptions({
				maxDate:jQuery('#dateEnd').val()?jQuery('#dateEnd').val():false
			})
		},
		timepicker:false,
		closeOnDateSelect:true,
		minDate:0
	});
	jQuery('#dateEnd').datetimepicker({
		format:'Y/m/d',
		onShow:function( ct ){
			this.setOptions({
				minDate:jQuery('#dateStart').val()?jQuery('#dateStart').val():false
			})
		},
		timepicker:false,
		closeOnDateSelect:true,
		minDate:0
	});

</script>

{% endblock %}