<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.datetimepicker.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<title>{% block title %}Car OWN!{% endblock %}</title>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Car OWN!</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/search">Search!</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user_id.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user_id}}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/accounts/user">My Account</a></li>
								<li><a href="/accounts/logout">Logout</a></li>
							</ul>
						</li>
						{% else %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li style="padding:10px;">
									<form action="/accounts/login/" method="post">
										<label for="username">User name:</label>
										<input type="text" name="username" class="form-control" value="" id="username">
										<label for="password">Password:</label>
										<input type="password" name="password" class="form-control" value="" id="password"><br>
										{% csrf_token %}

										<button type="submit" class="btn" value="login">Login</button>
										<input type="hidden" name="next" value="/accounts/user" />
									</form>
								</li>
							</ul>
						</li>
						<li><a href="/accounts/register">Register</a></li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container">
			<div class="row">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>