{% extends 'base.html' %}

{% block title%}Car Info{% endblock %}

{% block content %} 
<div class="col-md-8 col-md-offset-2">
	
	<!-- input content here -->
	{% if car %}
		{% for car_instance in car %}
		<h1>{{ car_instance.car.make_model }}</h1>
		<table width="100%">
			<tr>
				<td><strong>Make/Model:</strong> {{ car_instance.car.make_model }}<br>
					<strong>Max Passengers:</strong> {{ car_instance.car.max_passengers }}<br>
	    			<strong>Transmission:</strong> {{ car_instance.car.get_transmission_display }}<br>
	    			<strong>Type:</strong> {{ car_instance.car.get_type_display }}<br>
	    			<strong>Colour:</strong> {{ car_instance.colour }}
	    		</td>
				<td>
					<strong>Owner:</strong> <a href="/accounts/user/{{ car_instance.owner }}">{{ car_instance.owner }}</a><br>
	    			<strong>Carplate No.:</strong> {{ car_instance.carplate }}<br>
	    			<strong>Year:</strong> {{ car_instance.year }}<br>
	    			<strong>Can Drive to MY:</strong> {{ car_instance.candrivemy }}<br>
	    			<strong>Price:</strong> ${{ car_instance.price }}/month
	    		</td>
				</tr>
		</table>

		<h2>Choose When To Rent!</h2>
		<form id="rent" action="/rent" method="get" align="left">
			<div>From: <input id="dateStart" type="text" name="dateStart"> To: <input id="dateEnd" type="text" name="dateEnd"></div><br>
			<input type="hidden" name="carplate" value="{{ car_instance.carplate }}" id="carplate">
			<button type="submit" class="btn btn-success">Rent!</button>
		</form>
		<hr>
		{% endfor %}

		<script>
			jQuery('#dateStart').datetimepicker({
				format:'Y/m/d',
				onShow:function( ct ){
					this.setOptions({
						maxDate:jQuery('#dateEnd').val()?jQuery('#dateEnd').val():false
					})
				},
				timepicker:false,
				minDate:0
			});
			jQuery('#dateEnd').datetimepicker({
				format:'Y/m/d',
				onShow:function( ct ){
					this.setOptions({
						minDate:jQuery('#dateStart').val()?jQuery('#dateStart').val():false
					})
				},
				timepicker:false,
				minDate:0
			});
		</script>

	{% else %}
		<h1>Car Not Found</h1>
		<p>The Car you were looking for could not be found or is unavailable. Please try again!</p>
	{% endif %}

</div>
{% endblock %}