{% extends 'base.html' %}

{% block title%}Search{% endblock %}

{% block content %}
	<div class="col-md-10 col-md-offset-1">
	
	<h1>Search results</h1>
	
	<div>
		<form id="resubmitForm" style="display:none;" action="/search" method="get">
			{{ resubmit_form.as_p }}
		</form>
		
		<div class="sorts">
			<h3>Sort by:</h3>
			<a id="car__make_model" onclick="sort('car__make_model')">Make/model</a>&nbsp;&nbsp;
			<a id="price" onclick="sort('price')">Price</a>&nbsp;&nbsp;
			<a id="car__max_passengers" onclick="sort('car__max_passengers')">Max passengers</a>&nbsp;&nbsp;
			<a id="year" onclick="sort('year')">Year</a>&nbsp;&nbsp;
			<a id="car__type" onclick="sort('car__type')">Type</a>&nbsp;&nbsp;
		</div>
	</div>
	
	<!-- input content here -->
	{% if cars %}

		<table width="100%">
			{% for car_instance in cars %}
			<tr><td><a href="/car/?id={{ car_instance.carplate }}"><h1>{{ car_instance.car.make_model }}</h1></a></td></tr>
			<tr>
				<td>Make/Model: {{ car_instance.car.make_model }}<br>
					Max Passengers: {{ car_instance.car.max_passengers }}<br>
	    			Transmission: {{ car_instance.car.get_transmission_display }}<br>
	    			Type: {{ car_instance.car.get_type_display }}<br>
	    			Colour: {{ car_instance.colour }}<br>
	    		</td>
				<td>
					Owner: <a href="/accounts/user/{{ car_instance.owner }}">{{ car_instance.owner }}</a><br>
	    			Carplate No.: {{ car_instance.carplate }}<br>
	    			Year: {{ car_instance.year }}<br>
	    			Can Drive to MY: {{ car_instance.candrivemy }}<br>
	    		</td>
				<td>
	    			Price: ${{ car_instance.price }}/month<br>
	    			<a href="/car/?id={{ car_instance.carplate }}"><button class="btn btn-primary">More Details!</button></a>
				</td>
			</tr>
			<tr><td colspan="3"><hr></td></tr>
			{% endfor %}
		</table>
	{% else %}
		<h1>No Cars Found</h1>
		<p>The cars you were looking for could not be found. Please try another search term!</p>
		<form id="simpleSearch" action="/search" method="get" align="left">
			{{ form.as_p }}
			{% csrf_token %}
			<a onclick="openDetailedSearch()">More detailed search &or;</a>
			<button type="submit" class="btn" value="login">Search!</button>
		</form>
		<form id="complexSearch" action="/search" method="get" align="left" style="display:none">
			{{ more_detailed_form.as_p }}
			{% csrf_token %}
			<a onclick="closeDetailedSearch()">Less detailed search &and;</a>
			<button type="submit" class="btn" value="login">Search!</button>
		</form>
		
		<script>
			function openDetailedSearch() {
				console.log('clicked');
				document.getElementById('simpleSearch').style.display = "none";
				document.getElementById('complexSearch').style.display = "block";
			}
			
			function closeDetailedSearch() {
				document.getElementById('complexSearch').style.display = "none";
				document.getElementById('simpleSearch').style.display = "block";
			}
		</script>
	{% endif %}
	
	<script>
		$(document).ready(function(){
			var prevType = $('#resubmitForm').find("input[name='ordering']").val();
			if (prevType) {
				var elemId = '#' + prevType;
				var upDown = ($('#resubmitForm').find("select[name='ascending']").val() == 2) ? '&and;' : '&or;';
				$(elemId).html($(elemId).text() + upDown);
			}
		});
	
		function sort(type) {
			var prevType = $('#resubmitForm').find("input[name='ordering']").val();
			if (prevType == type) {
				console.log('change arrows');
				var val = $('#resubmitForm').find("select[name='ascending']").val();
				if (val == 2) $('#resubmitForm').find("select[name='ascending']").val(3);
				else $('#resubmitForm').find("select[name='ascending']").val(2);
			} else {
				$('#resubmitForm').find("select[name='ascending']").val(2);
				$('#resubmitForm').find("input[name='ordering']").val(type);
			}
			$('#resubmitForm').submit();
		}
	</script>

	</div>
{% endblock %}