{% extends 'base.html' %}

{% block title%}Search{% endblock %}

{% block content %}
	<div class="col-md-10 col-md-offset-1">

		
	<!-- input content here -->
	{% if cars %}
		<form action="/search" method="get">
				<input type="text" name="query" class="form-control" placeholder="Search for a car/make/model" id="query"><br>
				{% csrf_token %}
				<button type="submit" class="btn" value="login">Search!</button>
		</form>
		{% for car_instance in cars %}
		<h1>{{ car_instance.car.make_model }}</h1>
		<table width="100%">
			<tr>
				<td>Make/Model: {{ car_instance.car.make_model }}<br>
					Max Passengers: {{ car_instance.car.max_passengers }}<br>
	    			Transmission: {{ car_instance.car.get_transmission_display }}<br>
	    			Type: {{ car_instance.car.get_type_display }}<br>
	    			Colour: {{ car_instance.colour }}<br>
	    		</td>
				<td>
					Owner: <a href="/accounts/user/{{ car_instance.owner }}">{{ car_instance.owner }}</a><br>
	    			Carplate No.: {{ car_instance.carplate }}<br>
	    			Year: {{ car_instance.year }}<br>
	    			Can Drive to MY: {{ car_instance.candrivemy }}<br>
	    		</td>
				<td>
	    			Price: ${{ car_instance.price }}/month<br>
	    			<a href="/rent/?car={{ car_instance.uuid }}"><button class="btn btn-success">Rent!</button></a>
				</td>
				</tr>
				<tr><td colspan="3"><hr></td></tr>
			{% endfor %}
		</table>
	{% else %}
		<h1>No Cars Found</h1>
		<p>The cars you were looking for could not be found. Please try another search term!</p>
		<form action="/search" method="get">
				<input type="text" name="query" class="form-control" placeholder="Search for a car/make/model" id="query"><br>
				{% csrf_token %}
				<button type="submit" class="btn" value="login">Search!</button>
		</form>
	{% endif %}

	</div>
{% endblock %}